$color-white: #fff;
$color-grey: #F9F9F9;
$color-grey--dark: #7E7E7E;
$color-black: #111;
$color-black--dark: #0A0A0C;
$color-black--light: #0e1114;
$color-black--lighter: #16171b;
$color-blue: #0bc4e2;
$color-gold: #937341;
$color-gold--light: #c4b998;
$color-gold--lighter: #c8aa6e;
$color-gold--lightest: #f0e6d2;
$color-gold--dark: #342b20;

$color-gold-gradient: linear-gradient(180deg, rgba(196, 185, 152, 1) 0%, rgba(147, 115, 65, 1) 33%, rgba(147, 115, 65, 1) 66%, rgba(196, 185, 152, 1) 100%);
$color-gold-gradient--alt: linear-gradient(90deg, rgba(196, 185, 152, 0) 0%, rgba(147, 115, 65, 1) 100%);